@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');

body {
    background-color: #C5D4E9;
    font-family: Prompt;
    font-size: 1.1em;
}
h1 {
    background-color: #47596E;
    color: aliceblue;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
}
